* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #1B1B1B;
    font-size: 1.75rem;
    text-align: center;
}

figcaption {
    color: #8F8F8F;
    font-size: 0.75rem;
    text-align: right;
}

.receita {
    background: #FFFFFF;
    line-height: 26px;
}

h2 {
    color: #1B1B1B;
    font-size: 1.25rem;
    text-align: center;
}

li {
    list-style-position: inside;
}

li, p {
    color: #39393A;
    font-size: 1rem;
}